<h2>Inbox</h2>
<table cellpadding="5" align="center">
	<tr>
		<th>Del?</th>
		<th>Sent</th>
		<th>Sender</th>
		<th>Sent</th>
	</tr>
	<% if @messages.size == 0 %>
		<tr>
			<td colspan="4">
				No messages
			</td>
		</tr>
	<% else %>
		<% for message in @messages %>
			<tr>
				<td><%= check_box_tag "delete[]", message.id %></td>
				<td>
					<% if message.message_read? %>
					  <%= link_to h(message.subject), user_message_path(current_user, message) %>
					<% else %>
					  <%= link_to "#{h(message.subject)} [unread]", user_message_path(current_user, message) %>
					<% end %>
				</td>
				<td><%= link_to h(message.sender.name), user_path(message.sender) %></td>
		    <td><%=h message.created_at.to_s(:long) %></td>
			</tr>
		<% end %>
		<tr>
			<td colspan="4">
				<%= submit_tag "Delete", class: "btn" %>
			</td>
		</tr>
	<% end %>
</table>
<p align="center"><%= link_to "Sent messages", user_messages_path(current_user, :mailbox => :sent), class: "btn"%></p>
