<h2>Sent</h2>
<table cellpadding="5" align="center">
	<tr>
		<th>Del?</th>
		<th>Subject</th>
		<th>To</th>
		<th>Sent</th>
	</tr>
	<% if @messages.size == 0 %>
		<tr>
			<td colspan="4">
				No messages
			</td>
		</tr>
	<% else %>
		<% for message in @messages %>
			<tr>
				<td><%= check_box_tag "delete[]", message.id %></td>
				<td><%= link_to h(message.subject), user_message_path(current_user, message) %></td>
  			<td><%= link_to h(message.recipient.name), user_path(message.recipient) %></td>
			  <td><%=h message.created_at.to_s(:long) %></td>
			</tr>
		<% end %>
		<tr>
			<td colspan="4">
				<%= submit_tag "Delete", class: "btn" %>
			</td>
		</tr>
 	<% end %>
</table>
<p align="center"><%= link_to "Inbox", user_messages_path(current_user), class: "btn"%></p>
