<%= provide(:title, 'Your messages') %>
<div class="home">
	<%= form_tag delete_selected_user_messages_path(current_user, :method => :post) do %>
		<% if params[:mailbox] == "sent" %>
				<%= render :partial => "sent" %>
		<% else %>
				<%= render :partial => "inbox" %>
			<% end %>
			
	<% end %>
</div>