<%= provide(:title, 'New message') %>
<h1>New message</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@message) do |f| %>
		
			<%= f.hidden_field :sender, :value => current_user.name %>
			
			<%= f.label :recipient %>
			<%= f.text_field :recipient, :value => @user.name, :readonly => true %>
			
			
			<%= f.label :subject %>
			<%= f.text_field :subject %>
			
			<%= f.label :body %>
			<%= f.text_area :body, :rows => "10"%>
			
			<%= f.hidden_field :id, :value => @user.id%>
			<%= f.submit "Send", class: "btn btn-large" %>
		
		<% end %>
	</div>
</div>