<div class="home">
	<p><strong>From:</strong> <%= @message.sender == current_user ? link_to("You", user_path(current_user)) : link_to(h(@message.sender.name), user_path(@message.sender)) %></p>
	<p><strong>Received:</strong> <%= @message.created_at.to_s(:long) %></p>
	<p><strong>To:</strong> <%= @message.recipient == current_user ? link_to("You", user_path(current_user)) : link_to(h(@message.recipient.name), user_path(@message.recipient)) %></p>
	<p>
	  <strong>Message</strong><br />
	  <%=h @message.body %>
	</p>
	<p>
	  <% if @message.recipient == current_user %>
		  <p align="center"><%= link_to "Reply", new_message_path(@message.sender, :reply_to => @message), class: "btn" %> |
	  <% end %>
	  <%= link_to "Inbox", messages_path(current_user), class: "btn" %>
	  </p>
	</p>
</div>
