<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<!-- sign in form -->
<div class="row">
  <div class="span6 offset3">
  	<!-- in this form_for we need to write the name and the path of the resource to use -->
    <%= form_for(:session, url: sessions_path) do |f|  %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn btn-large" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>