<% if @group.monday %>
	Monday 
<%end%>
<% if @group.tuesday %>
	Tuesday 
<%end%>
<% if @group.wednesday %>
	Wednesday 
<%end%>
<% if @group.thursday %>
	Thursday 
<%end%>
<% if @group.friday %>
	Friday 
<%end%>
<% if @group.saturday %>
	Saturday 
<%end%>
<% if @group.sunday %>
	Sunday 
<%end%>		