<%= form_for(current_user.groups.find_by_id(@group),
		html: { method: :delete }, remote: false) do |f| %>
  <%= f.submit "Delete Group", :confirm=>'Are you sure?', class: "btn btn-large" %>
<% end %>