<h2>Personal infos</h2>	
		<p>Age:
			<% now= Time.now.utc.to_date%>
			<%= now.year - @user.birthdate.year - 
					((now.month > @user.birthdate.month ||(now.month ==@user.birthdate.month &&
					now.day >=@user.birthdate.day ))? 0 : 1)%>
		</p>
		<p>Favourite games: bla bla bla</p>
		<p>City</p>
	</div>