<!-- "remote: true" tells the form to use Ajax... -->
<%= form_for(current_user.groupships.build(group_id: @group.id), remote: false) do |f| %>
  <div><%= f.hidden_field :group_id %></div>
  <%= f.submit "Join", class: "btn btn-large" %>
<% end %>
