<!-- "remote: true" tells the form to use Ajax... -->
<%= form_for(current_user.groupships.find_by_group_id(@group),
		html: { method: :delete }, remote: false) do |f| %>
  <%= f.submit "Leave", class: "btn btn-large" %>
<% end %>
