<aside class="span4">
		<section>
			<div class="sect">
				<div class="name_rep" align="center">
					<div class="user_name">
						<%= @group.name %>
					</div>
				</div>
			</div>
					
			
				<ul class="users">
					<h2>Users:</h2>
					<%= render @group.users %>
				</ul>
			<br />
			
			
			<% if signed_in? %>
				<% if current_user.id==@group.master_id%>
				<div class="sect" align="center">
					<p><%= link_to "Edit group", {:controller => "groups", :action => "edit", :id => @group}, class: "btn btn-large" %></p>
				</div>
				<% else if @group.users.count<@group.max_member %>
					<div class="sect" align="center">
						<p><%= render 'join_form' %></p>
					</div>	
				<% end %>
				<% end %>
			<% end %>
			<% if current_user.joined?(@group) && @group.play_online %>
				<div class="sect" align="center">
					<p><%= link_to "Play online!", {:controller => "rooms", :action => "index"}, class: "btn btn-large" %></p>
				</div>
			<% end %>		

	</section>
</aside>