<%= provide(:title, @group.name) %>
<% @users=@group.users%>
<div class="row">
<div class="span6 offset3">
	<p>Change Master</p>
	<%= form_for(@group) do |f| %>
	<%= f.collection_select :master_id, @users, :id, :name, :prompt => "Select your new master"%>
	<%= f.submit "Change master", class: "btn btn-large" %>
	<% end %>
</div>
</div>
	
<div class="row">
<div class="span6 offset3">
	<p>Edit Group info</p>
	<%= form_for(@group) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
	
		<%= f.label :name %>
			<%= f.text_field :name %>
			
			<%= f.label :game %>
			<%= select(:group, :game, {"Doungeons&Dragons" => "Doungeons&Dragons", "Magic" => "Magic",
						"Bang!" => "Bang!", "Munchkin" => "Munchkin"}) %>
			
			<%= f.label :max_members %>
			<%= f.text_field :max_member %>
						
			<%= f.label :min_age %>
			<%= f.text_field :min_age %>
			<%= f.label :max_age %>
			<%= f.text_field :max_age %>
				
			<%= f.label :city %>			
			<%= select(:group, :city, {"Torino" => "Torino", "Cuneo" => "Cuneo",
						"Biella" => "Biella", "Vercelli" => "Vercelli"}) %>
						
			<%= f.label :days_available %>
			<ul>
				<%= f.check_box :monday%> Monday
			</ul>
			<ul>
				<%= f.check_box :tuesday%> Tuesday
			</ul>
			<ul>
				<%= f.check_box :wednesday%> Wednesday
			</ul>
			<ul>
				<%= f.check_box :thursday%> Thursday
			</ul>
			<ul>
				<%= f.check_box :friday%> Friday
			</ul>
			<ul>
				<%= f.check_box :saturday%> Saturday
			</ul>
			<ul>
				<%= f.check_box :sunday%> Sunday
			</ul>			
			
			<%= f.label :play_online? %>
			<ul>
				<%= f.check_box :play_online%> Check to declare you are available
			</ul>
		
		<%= f.submit "Edit my group", class: "btn btn-large" %>
	
	<% end %>
	<%= render 'delete_group' %>
</div>
</div>
