<%= provide(:title, @group.name) %>
<div class="row">
	<%= render 'sidebar'%>
	<div class="wall">
		<div id="wall_content">
			<ul id="myTab" class="nav nav-tabs">
				<li class="active"><a href="#board" data-toggle="tab">Board</a></li>
				<li><a href="#informations" data-toggle="tab">Informations</a></li>
    		</ul>
	
		<div id="myTabContent" class="tab-content">
				<div id="board" class="tab-pane fade in active">
					<h2>Board (<%= @group.microposts.count %>)</h2>	
					<% if @group.microposts.any? %>
						  <ol class="microposts">
						    <%= render @microposts %>
						  </ol>
						  <%= will_paginate @microposts %>
					<% end %>
					<% if current_user.joined?(@group) %>
					<%= form_for(@micropost) do |f| %>
					  	<%= render 'shared/error_messages', object: f.object %>
					  		<%= f.hidden_field :user_id, :value => nil%>
					  		<%= f.hidden_field :sender_id, :value => current_user.id%>
					  		<%= f.hidden_field :group_id, :value => @group.id%>
					  		<div class="field">
					  		  <%= f.text_area :content, placeholder: "Compose new micropost...", :size => "100x5" %>
					 		</div>
					  <p align="center"><%= f.submit "Post", class: "btn btn-large" %></p>
					<% end %>
					<% end %>
				</div>
				
				<div id="informations" class="tab-pane fade">
					<h2>Group Informations</h2>
					<p>Master: <%= User.find_by_id(@group.master_id).name%></p>
					<p>Game: <%= @group.game%></p>
					<p>Member number: <%= @group.users.length%>/<%= @group.max_member%></p>
					<p>City: <%=@group.city%></p>
					<p>Age between <%=@group.min_age%> and <%=@group.max_age%></p>
					<p>Days available to play:
						<%= render 'days'%>
						</p>
					<p>Online gaming: 
					<% if @group.play_online %>
						Yes
					<%else%>
						No</p>
					<%end%>
				</div>
			</div>
		</div>
	</div>
</div>

