<aside class="span4">
		<section>
			<div class="sect">
				<div class="name_rep">
					<div class="user_name">
					<%= @user.name %>
					</div>
				</div>
			</div>
			<div class="sect">
				<div class="name_rep">
					<div class="reputation">
						<%=render :partial => 'grade'%>
						<p>Reputation: 0/5</p>
					</div>
				</div>
			</div>
			<% if current_user.id==@user.id%>
			<div class="sect">
				<div class="name_rep">
					<div class="reputation">
						<p>You have 
							<%= pluralize(current_user.unread_message_count, "unread message") %>
						</p>
					</div>
					<p align="center">
							<%= link_to 'Inbox', messages_path, class: "btn" %>
						</p>
						
				</div>
			</div>
			<% end %>
			<div class="sect">
				<h2>Groups</h2>
				<% if @user.groups.any? %>
					<% @user.groups.each do |group| %>
					<ul>
  					<li><%= link_to group.name, group %></li>
  					</ul>
				<% end %>
				<% end %>
				
			</div>
			<div class="sect">
				<div class="buttons">
				<% if current_user.id!=@user.id%>
					<p>
					<%= link_to 'Send a message', new_message_path(:id => @user.id), class: "btn" %>
					</p>
					<p>
					<%= link_to 'Invite to a group', "#", class: "btn" %>
					</p>
				<%else%>
				<div class="center">
					<p>
						<%= link_to "Join a new group", new_search_path, class: "btn"%>
					</p>
					<p>
						<%= link_to "Create a new group", new_group_path, class: "btn"%>
					</p>
				
				
				</div>
				<%end%>
				</div>
			</div>
			
			<div class="sect">
				<h2>Discussion Groups</h2>
				<ul>
				<li>Dungeons And Dragons v2</li>
				<li>Rpg strategies</li>
				</ul>
			</div>
			<div class="sect">
				<h2>Events</h2>
				<ul>
				<li>Lucca comics</li>
				</ul>
			</div>
	</section>
</aside>