<%= provide(:title, @user.name) %>
<div class="row">
	<%= render 'sidebar'%>

	<div class="wall">
		<div id="wall_content">
			<ul id="myTab" class="nav nav-tabs">
				<li class="active"><a href="#board" data-toggle="tab">Board</a></li>
				<li><a href="#informations" data-toggle="tab">Informations</a></li>
				<li><a href="#achievements" data-toggle="tab">Achievements</a></li>
    		</ul>
    		
			<div id="myTabContent" class="tab-content">
				<div id="board" class="tab-pane fade in active">
					<h2>Board (<%= @user.microposts.count %>)</h2>	
					<% if @user.microposts.any? %>
						  <ol class="microposts">
						    <%= render @microposts %>
						  </ol>
						  <%= will_paginate @microposts %>
					<% end %>
					
					<%= form_for(@micropost) do |f| %>
					  	<%= render 'shared/error_messages', object: f.object %>
					  		<%= f.hidden_field :user_id, :value => @user.id%>
					  		<%= f.hidden_field :sender_id, :value => current_user.id%>
					  		<%= f.hidden_field :group_id, :value => nil%>
					  		<div class="field">
					  		  <%= f.text_area :content, placeholder: "Compose new micropost...", :size => "100x5" %>
					 		</div>
					  <p align="center"><%= f.submit "Post", class: "btn btn-large" %></p>
					<% end %>
						
						
				</div>
				<div id="informations" class="tab-pane fade">
					<h2>Personal infos</h2>	
					<p>Age:
						<% now= Time.now.utc.to_date%>
						<%= now.year - @user.birthdate.year - 
							((now.month > @user.birthdate.month ||(now.month ==@user.birthdate.month &&
							now.day >=@user.birthdate.day ))? 0 : 1)%>
					</p>
					<p>Favourite games:</p>
				</div>
				<div id="achievements" class="tab-pane fade">
					<h2>Achievements</h2>	
					<p>World Bang! Champion 2012</p>
				</div>
			</div>
		</div>
	</div>

</div>
