<div class="user_name">
<span>
<a href="<%= user_path(current_user) %>">
  <%= gravatar_for current_user, size: 100 %>
</a>
	
  <%= current_user.name %>
</span>
</div>

<span>
  <p><%= link_to "view my profile", current_user %></p>
</span>

<span>
	<p><%= pluralize(current_user.microposts.count, "micropost") %></p>
</span>