<% provide(:title, 'Contact') %>
<div class="home">
	<h1>Contact</h1>
	<p>Giuseppe Esposito (<a href="mailto:s187967@studenti.polito.it?subject=NerdsNest">s187967@studenti.polito.it</a>)</p>
	<p>Federico Piccoli (<a href="mailto:s185950@studenti.polito.it?subject=NerdsNest">s185950@studenti.polito.it</a>)</p>
</div>
