<% provide(:title, 'Home') %>
<% if signed_in? %>
  <div class="home">
  	<h1>Welcome to Nerds' Nest, <%=current_user.name%>!</h1>
  	<h2>News</h2>
  	<p> Your friends wrote
  		<% posts= 0%>
  		<% current_user.groups.each do |p| %>
  		<% posts= posts + p.feed.count %>
  		 <% end %>
  		 <%= pluralize(current_user.unread_message_count, "post") %>
  		 in your groups</p>
  		 
  	<p>You have 
		<%= pluralize(current_user.unread_message_count, "unread message") %>
	</p>
  	<i><%= pluralize(@users.count, "user")%> joined us and <%= pluralize(@groups.count, "group") %> were created!!</i>
    <br />
    <br />
    <p align="center"><%= link_to "Your profile", current_user, class:"btn btn-large" %></p>
  </div>
  
<% else %>
  <div class="center hero-unit">
  	
  	<h1>Welcome to</h1>
  	<img src="assets/NNlogo5.png">
	<br />
	<br />
    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large" %>
  </div>
<% end %> 
