<%= provide(:title, 'Search results') %>
<div class="home">
<%= will_paginate %>

<h2>Found <%= pluralize(@users.length, "user") %></h2>
<ul class="users">
	<%= render @users %>
</ul>

<h2>Found <%= pluralize(@groups.length, "groups") %></h2>
<ul class="users">
	<%= render @groups %>
</ul>

<%= will_paginate %>
<br />
<br />
<p align="center"><%= link_to "Advanced search", new_search_path, class: "btn btn-large" %></p>
</div>
