<%= provide(:title, "Advanced search") %>
<div class="row">
	<div class="span6 offset3">
		<h1>Groups advanced search</h1>
			<%= form_for @search do |f| %>
			    <%= f.label :name %>
			    <%= f.text_field :name %>
			    
			    <%= f.label :game %>
			    <%= f.text_field :game %>
	
			    <%= f.label :max_member %>
			    <%= f.number_field :max_member %>
	
			    <%= f.label :min_age %>
			    <%= f.number_field :min_age %>
			    <%= f.label :max_age %>
			    <%= f.number_field :max_age %>
	
			    <%= f.label :city %>
			    <%= f.text_field :city %>
	
			    <%= f.label :play_online %>
			    <%= f.select(:play_online, {"" => nil, "Yes" => true, "No" => false}) %>
	
			    <%= f.label :monday %>  
			    <%= f.select(:monday, {"" => nil, "Yes" => true, "No" => false}) %>
	
			    <%= f.label :tuesday %>
			    <%= f.select(:tuesday, {"" => nil, "Yes" => true, "No" => false}) %>
	
			    <%= f.label :wednesday %>
			    <%= f.select(:wednesday, {"" => nil, "Yes" => true, "No" => false}) %>
	
			    <%= f.label :thursday %>
			    <%= f.select(:thursday, {"" => nil, "Yes" => true, "No" => false}) %>
	
			    <%= f.label :friday %>
			    <%= f.select(:friday, {"" => nil, "Yes" => true, "No" => false}) %>
	
			    <%= f.label :saturday %>
			    <%= f.select(:saturday, {"" => nil, "Yes" => true, "No" => false}) %>
	
			    <%= f.label :sunday %>
			    <%= f.select(:sunday, {"" => nil, "Yes" => true, "No" => false}) %>
	
			  <p align="center"><%= f.submit "Search", class: "btn btn-large" %></p>
			<% end %>
	</div>
</div>