<%= provide(:title, "Advanced search results") %>

<div class="home">
<h2><%= pluralize(@search.groups.count, "result") %> found
</h2>

<%= render :partial => @search.groups%>
<br />
<br />
<%= link_to "New search", new_search_path, class: "btn btn-large" %>
</div>
