<div align="center">
	<p>Last result: </p>
	<p id="result">0</p>
<form name=form>
	<table border=2 cellpadding=5>
		<tr>
			<td colspan=2 align=middle>What dice type?</td>
			<td colspan=2 align=middle>How many dice to roll?</td>
		</tr>
		<tr>
			<td valign=top align=middle>
			<p><input type=radio name=sides onclick="die = 3"> 3 Sided
			<p><input type=radio name=sides onclick="die = 4"> 4 Sided 
			<p><input type=radio name=sides onclick="die = 5"> 5 Sided
			<p><input type=radio checked name=sides onclick="die = 6"> 6 Sided
			<p><input type=radio name=sides onclick="die = 8"> 8 Sided
			</td>
		<td valign=top align=middle>
			<p><input type=radio name=sides onclick="die = 10"> 10 Sided
			<p><input type=radio name=sides onclick="die = 12"> 12 Sided
			<p><input type=radio name=sides onclick="die = 20"> 20 Sided
			<p><input type=radio name=sides onclick="die = 30"> 30 Sided
			<p><input type=radio name=sides onclick="die = 100"> 100 Sided
		</td>
		<td valign=top align=middle>
			<p><input type=radio name=number onclick="dice = 1"> 1 
			<p><input type=radio name=number onclick="dice = 2"> 2
			<p><input type=radio checked name=number onclick="dice = 3"> 3
			<p><input type=radio name=number onclick="dice = 4"> 4
			<p><input type=radio name=number onclick="dice = 5"> 5
		</td>
		<td valign=top align=middle>
			<p><input type=radio name=number onclick="dice = 6"> 6
			<p><input type=radio name=number onclick="dice = 7"> 7
			<p><input type=radio name=number onclick="dice = 8"> 8
			<p><input type=radio name=number onclick="dice = 9"> 9
			<p><input type=radio name=number onclick="dice = 10"> 10
		</td>
		</tr>
		<tr>
			<td align=middle colspan=4>
			<input type=button value="Roll Dice" name=button onclick="dice_roll(die, dice)" class="btn btn-large">
			</td>
		</tr>
	</table>
</form>
</div>
