<svg id="svgElem" width="100%" height="100%" version="1.1" viewBox="0 0 300 300"
    xmlns="http://www.w3.org/2000/svg" 
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:drag="http://nerdsnest.altervista.org/dragsvg"
    onload="initializeDraggableElements(); enableDrag(document.getElementById('widget'));"
    onmouseup="mouseUp(evt)"
    onmousemove="mouseMove(evt)"
    >

	
	
<title id="titleElem">Nerds' Nest Map</title>


<script id="draggableLibrary" src="/assets/javascripts/dragsvg.js"></script>



<g id = "map">
    <line y2="50.0" fill="none" x1="0.0" x2="500.0" stroke="#000000" y1="50.0"/>
    <line y2="100.0" fill="none" x1="0.0" x2="500.0" stroke="#000000" y1="100.0"/>
    <line y2="150.0" fill="none" x1="0.0" x2="500.0" stroke="#000000" y1="150.0"/>
	<line y2="200.0" fill="none" x1="0.0" x2="500.0" stroke="#000000" y1="200.0"/>
    <line y2="250.0" fill="none" x1="0.0" x2="500.0" stroke="#000000" y1="250.0"/>
    
	
	<line y2="0" fill="none" x1="50.0" x2="50.0" stroke="#000000" y1="500.0"/>
	<line y2="0" fill="none" x1="100.0" x2="100.0" stroke="#000000" y1="500.0"/>
	<line y2="0" fill="none" x1="150.0" x2="150.0" stroke="#000000" y1="500.0"/>
	<line y2="0" fill="none" x1="200.0" x2="200.0" stroke="#000000" y1="500.0"/>
	<line y2="0" fill="none" x1="250.0" x2="250.0" stroke="#000000" y1="500.0"/>
	

</g>

	
<g id = "wolf"  drag:enable="true" >
	
	  <polyline fill="#000000" points="22, 50 9,31.0 2,30 8.5,25 11 ,15.5 8 ,4.0 20,13 25 ,11 25,52" stroke="#000000"/>
    <polygon fill="red" points="23,27. 16.0,21.5 21.0,20.0" stroke="none"/>
    <polyline fill="#000000" transform="matrix(-1.0 0.0 0.0 1.0 76.0 -5)" points="47.0,53.0 
        35,35.0 28,34 34.0,30.0 37.0,20 33.0,9 45.0,17.0 51,15.0 51,56.0" stroke="#000000"/>
    <polygon fill="red" transform="matrix(-1.0 0.0 0.0 1.0 54.0 0.0)" points="25,26.0 
        18.0,21.0 23.0,20" stroke="none"/>
	
	
</g>
	
	
<g id = "orc" drag:enable = "true" transform="translate(0, 50)">

	<ellipse rx="20" fill="green" ry="20" cx="25" cy="25" stroke="#000000"/>
	<ellipse rx="3" fill="white" ry="3" cx="17" cy="17" stroke="#000000"/>
	<ellipse rx="3" fill="white" ry="3" cx="33" cy="17" stroke="#000000"/>
	<polygon fill="red" points="30.0,40.0 20.0,40.0 12.0,30.0 35.0,33.0" stroke="#000000"/>
	<polyline fill="white" points="15.0,33.0 20.0,35.0 20.0,33.0 20.0,36.0 
		25.0,33.0 27.0,36.0 27.0 ,34.0 30.0,36.0 34.0,33.0" stroke="#000000"/>
	<ellipse rx="0.5" fill="red" ry="0.5" cx="17" cy="17" stroke="red"/>
	<ellipse rx="0.5" fill="red" ry="1.0" cx="33.0" cy="17.0" stroke="red"/>
	<line y2="7.0" fill="white" x1="23.0" x2="13.0" stroke="#68480f" y1="15.0"/>
	<line y2="7.0" fill="white" x1="28.0" x2="36" stroke="#68480f" y1="16.0"/>
		
</g>
	
	
<g id = "elf" drag:enable="true" transform = "translate (0,100)">
    <ellipse fill="#99ff99" rx="15" cx="25" ry="22" cy="28" stroke="#000000"/>
    <polyline fill="#99ff99" points="14,23 12, 6 15,14" stroke="#000000"/>
    <polyline fill="#99ff99" points="35,13.0 38, 4 38,23" stroke="#000000"/>
    <ellipse transform="matrix(0.7 0.35 -1 0.9 25 -10)" fill="#ffffff" rx="3" cx="35" ry="4" cy="20" stroke="#000000"/>
    <ellipse transform="matrix(0.0 -0.8 1.2 0.5 -6.0 25)" fill="#ffffff" rx="3"
        cx="20" ry="4" cy="20.0" stroke="#000000"/>
    <polyline fill="none" points="19, 35.0 24.0,38 28, 37.0 32.0 ,35" stroke="#000000"/>
</g>


<g id = "dwarf" drag:enable="true" transform = "translate (0,150)">
    <ellipse rx="18.9" fill="none" ry="16.5" cx="25.0" cy="21.0" stroke="#000000"/>
    <polyline fill="none" points="14.0,28.0 19.0,24.0 30.0,24.0 34.0,28.0" stroke="#000000"/>
    <ellipse rx="1.5" fill="none" ry="1.5" cx="20.0" cy="15.0" stroke="#000000"/>
    <ellipse rx="1.5" fill="none" ry="1.5" cx="30.0" cy="15.0" stroke="#000000"/>
    <line y2="10.0" fill="none" x1="25.0" x2="18.0" y1="12.0" stroke="#ff9900"/>
    <line y2="10.0" fill="none" x1="25.0" x2="33.0" y1="12.0" stroke="#ff9900"/>
    <polygon fill="orange" points="10.0,29.000002 3.0,39 15.0,34 12.0,44 
        22.0,37 26.0,47 30.0,36 42.0,44 40.0,32 
        32.0,36 22.0,36 15.0,34" stroke="#ff9900"/>
		
</g>

</svg>