<div class="home">
	<fieldset>
		<legend>Your videochat rooms</legend>
	 <ul>
	<% @rooms.each do |room| %>
		<% current_user.groups.each do |group| %>
	  		<% if room.id==group.id %>
			  <li>
			    <a href="/party/<%= room.id %>"><%= room.name %></a>
			  </li>
	  		<% end %>
	  <% end %>
	<% end %>
	</ul>
	</fieldset>
</div>
