<% provide(:title, 'Play online') %>
<div class="row">
	<div class="wall">
		<h2>Dice roll</h2>
		<%= render :partial => 'dice_roll'%>
		<br />
		<h2>Map</h2>
		<%= render :partial => 'map'%>
	</div>
	<aside class="span4">
		<section>
			<div id="videobox">
			<h2>Videochat</h2>
			
			<script src="https://staging.tokbox.com/v0.91/js/TB.min.js" type="text/javascript"></script>
			<script type="text/javascript">
				var apiKey = 16602591; 
				var sessionId = "<%= @room.sessionId %>"; 
				var token = "<%= @tok_token %>"; 
			
				var session;
			
				TB.addEventListener('exception', exceptionHandler);
				session = TB.initSession(sessionId);
			
				//Video chat event listeners
				session.addEventListener('sessionConnected', sessionConnectedHandler);
				session.addEventListener('streamCreated', streamCreatedHandler);
			    session.addEventListener('streamDestroyed', streamDestroyedHandler);
			
				session.connect(apiKey, token);
			</script>
			</div>
		</section>
	</aside>
</div>
