/* Sassy CSS taken from Rails Tutorial book, second edition, chapter 5 */
@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin border_radius {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
  
}

@mixin box_shadow {
  -moz-box-shadow: 0px 0px 5px #6e6e6e;
  -webkit-box-shadow: 0px 0px 5px #6e6e6e;
  box-shadow: 0px 0px 5px #6e6e6e; 
  /*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
}


/* universal */

.content {
  min-width: 200px;
}

html {
  overflow-y: scroll;
}

body {
  background: url("/assets/background4.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 77px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

a {
  color: #c95128;
  &:hover{
    color: #fe8f6a;
  }
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

.navbar-inner {
  background-color: #2c2928; /* background color will be black for all browsers */
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  border-bottom: 3px solid #d5d5d5;
}



#logo {
  float: left;
  margin-top: 2px;
  margin-right: 10px;
  vertical-align: middle;
  line-height:1.4;
  font-size: 1.7em;
  color: #F66232;
  //text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fe8f6a;
    text-shadow: 0px 0px 1px white;
    text-decoration: none;
  }
  .search_bar {
  }
}



/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #d5d5d5;
  color: white;
  a {
    color: white;
    &:hover { 
      color: $grayDarker;
    }
  }  
  small { 
    float: left; 
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* top bar with gravatar, name and reputation */

.gravatar {
  margin:10px;
  float:left
  }

/* home and misc */
.home {
   background-color: #f5f5f5;
   margin-left:auto;
   margin-right:auto;
   width: 60%;
   //border: 2px solid #eaeaea;
   padding: 30px 30px;
   @include border_radius;
   @include box_shadow;
   .form {
     padding: 50px 50px;
   }
}

/* opentok */
#videobox {
  width: 100%;
  height: 100%;

  max-width: 800px;
  max-height: 600px;

  margin-right: auto;
  margin-left: auto;
}

#videobox object {
  margin-right: auto;
  margin-left: auto;
}


/* wall */
.wall {
   background-color: #f5f5f5;
   width: 60%;
   float: right;
   //border: 2px solid #eaeaea;
   padding: 15px 15px;
   @include border_radius;
   @include box_shadow;   
}

/* sidebar */
aside {
    background-color: #f5f5f5;
    overflow:hidden;
    width: 25%;
    float: left; 
    //border: 3px solid #eaeaea;
    @include border_radius;
    @include box_shadow;
  section {
    padding: 10px 10px;
    &:first-child {
      border: 0;
      padding-top: 10px;
    }
    
    .sect {
      border-bottom: 2px solid #d5d5d5;
      display: block;
      margin-left:15px;
      margin-right:15px;
      margin-top: 5px;
      margin-bottom: 5px;
      line-height: 1;
      &:last-child {
      border:0;
      }
      .gravatar {
      }
      .name_rep {
       .user_name {
         text-align:center;
         font-size: 32px;
         padding-bottom: 10px;
        }
       .reputation {
         padding-left:30px;
         font-size: 15px;
         padding-bottom:10px;
        }
      }
      .buttons {
        text-align:center;
        vertical-align: middle;
      }
    }
    
    
   
    span {
      border-bottom: 2px solid #d5d5d5;
      display: block;
      margin-top: 5px;
      padding-bottom: 5px;
      line-height: 1;
      &:last-child {
      border:0;
      }
    
    }
    h1 {
      font-size: 1-6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
    li {
      list-style: none;
      font-size: 15px;
    }
    h2 {
      margin-bottom: 10px;
    }
  }
}


/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
  @include border_radius;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

/* miscellaneous */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    //border-top: 1px solid #d5d5d5;
    //&:last-child {
    //  border-bottom: 1px solid #d5d5d5;
    //}
  }
}

/* microposts */

.microposts {
  list-style: none;
  margin: 10px 0 0 0;

  li {
    padding: 10px 0;
    &:last-child {border-bottom: 1px solid #d5d5d5;
    margin-bottom: 10px;
    }
  }
}
.content {
  display: block;
}
.timestamp {
  color: $grayLight;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}