<!-- Navigation bar -->
<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<%=link_to image_tag("NNlogohead2.png", :alt => "logo", :height => "25%", :width => "25%", :id =>"logo"), root_path %>
			<nav>
				<ul class="nav pull-right">
					<li>
						<%= link_to "Home", root_path, id: "logo" %>
					</li>
					<% if signed_in? %>
					<li>
						<%= link_to "Users", users_path, id: "logo"  %>
					</li>
					<li>
						<%= link_to "Groups", groups_path, id: "logo"  %>
					</li>
					<li id="fat-menu" class="dropdown">
						<% name=current_user.name %>
						<% if current_user.unread_message_count>0 %>
						<% name = name+" ("+current_user.unread_message_count.to_s+")" %>
						<% end %>
						<a href="#" id="logo" class="dropdown-toggle" data-toggle="dropdown"><%= name %> <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li>
								<%= link_to "Profile", current_user %>
							</li>
							<li>
								<% mes= "Messages"%>
								<% if current_user.unread_message_count>0 %>
									<% mes=mes+" ("+current_user.unread_message_count.to_s+")" %>
									<%= link_to mes, messages_path %>
								<% else %>
									<%= link_to mes, messages_path %>
								<% end %>
								
							</li>
							<li>
								<%= link_to "Settings", edit_user_path(current_user) %>
							</li>
							<li class="divider"></li>
							<li>
								<%= link_to "Sign out", signout_path, method: "delete" %>
							</li>
						</ul>
					</li>
					<li>
						<p>
						<%= form_tag simple_search_path, :method => 'get', :class => 'form-search', :id => 'search_bar' do %>
						<%= text_field_tag :simple_search, params[:simple_search], :class => 'input-small search-query', :placeholder => "Search" %>
						</p>
						<% end %>
					</li>
					
					
					<% else %>
					<li>
						<%= link_to "Sign in", signin_path, id: "logo" %>
					</li>
					<% end %>
				</ul>
			</nav>
		</div>
		</div>
</header>